table td, table th {
    padding: 5px;
}

table tr,
table tr:last-child {
    border-bottom: none;
}

.align-td-bottom {
    vertical-align: bottom;
}


.seat-outer {
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    /*width: 4.0rem;*/
    /*height: 4.0rem;*/
    /*display: flex;*/
    /*font-weight: 500;*/
    /*font-size: 12.0px;*/
    line-height: 140%;
    border: 2px solid #ffffff !important;
}

.seat {
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    width: 4.0rem;
    height: 4.0rem;
    display: flex;
    font-weight: 700;
    /*font-size: 12.0px;*/
    line-height: 140%;
}

.seat-legend {
    width: 1.50rem;
    height: 1.50rem;
}

.centered {
    /*border: 1px solid blue;*/
    margin: auto;
    width: fit-content;
}

.seat-occupied {
    border: 4px solid #fdd17a !important;
}

.seat-empty {
    border: 2px solid #f3c977 !important;
    background-color: #f3c977 !important;
}

.left-seats {
    min-width: 180px;
    /*border: 1px solid red;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.center-seats {
    min-width: 600px;
    /*border: 1px solid red;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
.right-seats {
    min-width: 180px;
    /*border: 1px solid red;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.background-inherit {
    background-color: inherit;
}

.background-yellow {
    background-color: #efedcc;
}

.background-white {
    background-color: #ffffff;
}


.seats-page {
    width: 100%!important;
    min-width: 1024px;
}
